/*=========== Конфиги и т.д. ======================*/
@font-face {
   font-family: 'Exo 2';
   src: url("../fonts/Exo2");
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
   -webkit-appearance: none;
}

input:focus, select:focus, textarea:focus, button:focus {
   outline: none;
}

textarea {
   resize: none;
}

label {
   margin: 0;
}

::placeholder {
   color: #cccccc;
   font-weight: 400;

}


.nav-link {
   padding: 0;
}


/*=====================================================*/

/*------- Маржины, падинги, размеры и т.д. -----------*/

:root {

   --lightColor: #6D9EC7;
   --hardColor: #547B9B;

   --navbar_h: 60px !important;
   --px_var: 20px;
}



.Exo-2 {
   font-family: 'Exo 2', serif;
   color: #4d4d4d;
}



.w_50 {
   width: 50px;
}
.w_70 {
   width: 70px;
}

.w_150 {
   width: 150px;
}
.w_200 {
   width: 200px !important;
}

.px_var {
   padding: 0 var(--px_var);
}



/*----------------------------------------------------*/


body {
   background-color: hsl(0, 0%, 97%);
   height: 100vh;
}

.topBar {
   background-color: #ced5dc;
   height: var(--navbar_h);
   right: 0;
}
.top-menu {
   z-index: 99;
   position: fixed;
   width: 100%;
   height: available;
}

.back {
   fill: var(--lightColor);
   height: var(--navbar_h);
   width: 50px;
   padding-top: 14px;
}

.search {
   fill: var(--lightColor);
   height: 40px;
   padding-top: 5px;
}

.save {
   font-size: 1.6rem;
   font-weight: 600;
   color: #d41212;

   width: 100px;
   height: var(--navbar_h);
   line-height: var(--navbar_h);
   text-align: right;
}
.save:hover {
   color: #f10707;;
}

.empty-top{
   height: calc((var(--navbar_h) * 2) + 5px);
}
.input-bg {
   z-index: 0;
   min-height: 200px;

}

.reportName {
   background-color: #e1e6ea;
   color: var(--hardColor);
   height: var(--navbar_h);

   font-size: 16px;
   font-weight: 600;

   margin: 0;
   padding-top: 10px;

   line-height: 1.2;
   text-align: center;
}

.reportData {
   height: var(--navbar_h);
   padding: 0;
   /*background-color: #e3e3e3;*/
}

.reportDetail {
   height: var(--navbar_h);
   padding-top: 10px;
}

.detailInput {
   background-color: transparent;
   border-color: var(--hardColor);

   height: 25px;
   text-align: center;
   font-size: 1.4rem;
   margin: 0;
}

.detailName {
   /*background-color: #6f4d8d;*/
   border-style: solid;
   border-width: 1px 0 0 0;

   text-align: center;
   vertical-align: top;
   margin: 0;
   font-size: 1.2rem;
   color: var(--hardColor);
}

.textArea {
   height: 150px;

   border: 1px solid #cbcbcb;
   border-radius: 4px;

   font-size: 1.4rem;
   font-weight: 400;
   color: #4c4c4c;
}
.labelArea {

   margin: 0;
   font-size: 1.2rem;
   color: var(--hardColor);
}

.list {
   background-color: transparent;
   height: 50px;
   line-height: 70px;
   padding: 2px;
   margin-top: 2px;

   border: solid #828282;
   border-width: 0 0 1px 0;
   vertical-align:text-bottom;

   font-size: 16px;
   font-weight: 400;
   color: #4c4c4c;
}
.list:hover {
   color: #5c5c5c;
}

.down-menu {
   z-index: 98;
   position: fixed;
   display: flex;
   bottom: 20px;
   width: 100%;
   min-height: 50px;
}

.newRep {
   width: 100%;
   height: 50px !important;
   line-height: 50px;

   background-color: var(--lightColor);
   border-radius: 4px;

   font-size: 20px;
   font-weight: 600;
   color: #f1f1f1;
   text-align: center;
}
.newRep:hover {
   color: #e6e6e6;
}

.logo {
   background-color: #f7f7f7;
   color: var(--hardColor);
   height: 110px;
   line-height: 150px;
   vertical-align: bottom;

   font-size: 50px;
   font-weight: 700;
   text-align: center;
}
.logo:hover {
   cursor: auto;
}

.loginInput {
   background-color: transparent;
   border-color: #cccccc;


   height: 50px;
   line-height: 50px;
   width: 100%;

   font-size: 25px;
   font-weight: 600;
   color: var(--lightColor);
   vertical-align:top;

}

.loginSvg {
   fill: var(--lightColor);
   width: 25px;
}