/*=========== Конфиги и т.д. ======================*/
@font-face {
   font-family: 'Exo 2';
   src: url("../fonts/Exo2");
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
   -webkit-appearance: none;
}

input:focus, select:focus, textarea:focus, button:focus {
   outline: none;
}

textarea {
   resize: none;
}

label {
   margin: 0;
}

::placeholder {
   color: #8e8175;
}


.nav-link {
   padding: 0;
}


/*=====================================================*/

/*------- Маржины, падинги, размеры и т.д. -----------*/

:root {

   --lightColor: #6D9EC7;
   --hardColor: #547B9B;

   --navbar_h: 60px !important;
   --px_var: 20px;
}



.Exo-2 {
   font-family: 'Exo 2', serif;
   color: #4d4d4d;
}



.w_50 {
   width: 50px;
}
.w_70 {
   width: 70px;
}

.w_150 {
   width: 150px;
}
.w_200 {
   width: 200px !important;
}


.px_var {
   padding: 0 var(--px_var);
}



/*----------------------------------------------------*/


body {
   background-color: hsl(0, 0%, 97%);
   height: 100vh;
}

.topBar {
   background-color: #ced5dc;
   height: var(--navbar_h);
   right: 0;
}
.top-menu {
   z-index: 99;
   position: fixed;
   width: 100%;
   height: available;
}

.back {
   fill: var(--lightColor);
   height: var(--navbar_h);
   width: 50px;
   padding-top: 14px;
}

.save {
   font-size: 1.6rem;
   font-weight: 600;
   color: #d41212;

   width: 100px;
   height: var(--navbar_h);
   line-height: var(--navbar_h);
   text-align: right;
}
.save:hover {
   color: #f10707;;
}

.empty-top{
   height: calc((var(--navbar_h) * 2) + 5px);
}
.input-bg {
   z-index: 0;
   min-height: 200px;

}

.reportName {
   background-color: #e1e6ea;
   color: var(--hardColor);
   height: var(--navbar_h);

   font-size: 16px;
   font-weight: 600;

   margin: 0;
   padding-top: 10px;

   line-height: 1.2;
   text-align: center;
}

.reportData {
   height: var(--navbar_h);
   padding: 0;
   /*background-color: #e3e3e3;*/
}

.reportDetail {
   height: var(--navbar_h);
   padding-top: 10px;
}

.detailInfo {
   background-color: transparent;
   height: 20px;
   text-align: center;
   font-size: 1.4rem;
   margin: 0;
   /*border: 0;*/

}

.detailName {
   /*background-color: #6f4d8d;*/
   border-style: solid;
   border-width: 1px 0 0 0;

   text-align: center;
   vertical-align: top;
   margin: 0;
   font-size: 1.2rem;
   color: var(--hardColor);
}

.textArea {
   height: 150px;

   border: 1px solid #cbcbcb;
   border-radius: 4px;

   font-size: 1.4rem;
   font-weight: 400;
   color: #4c4c4c;
}
.labelArea {

   margin: 0;
   font-size: 1.2rem;
   color: var(--hardColor);
}

.list {
   background-color: transparent;
   height: 50px;
   line-height: 70px;
   padding: 2px;
   margin-top: 2px;

   border: solid #828282;
   border-width: 0 0 1px 0;
   vertical-align:text-bottom;

   font-size: 16px;
   font-weight: 400;
   color: #4c4c4c;
}

