/*Superstrap - v1.0*/
/*сайта нет, лицензии тоже*/


/*======= Конфиги и т.д. ===========*/

:root {
    font-size: 10px;
}

body {
    background-color: #f2f2f2;
    padding: 0;
    margin: 0;
}

.container, .container-fluid {
    padding: 0;
    margin: 0;
}

.navbar {
    padding: 0;
    margin: 0;
}

/* +++++++ test block's  +++++++++ */

/*** Связка для верхней панели ***/
:root {
    --navbar_h: 50px !important;
}

.test-top-menu_1 {
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--navbar_h);

    background-color: #b6b6b6;
    border: 1px solid #B3B3B3;
    border-radius: 4px;

    font-size: 15px;
    color: #1b1e21;
}

.empty-top {
    height: calc(var(--navbar_h) + 5px);
}

.test-bg_1 {
    z-index: 0;
    min-height: 200px;

    background-color: #d6e2d9;
    border: 1px solid #B3B3B3;
    border-radius: 4px;
    padding-bottom: 10px;
    font-size: 15px;
    color: #1b1e21;
}

/**************************************/

.test-block_1 {
    display: flex;
    z-index: 1;
    min-height: 50px;
    padding: 10px;
    margin: 0;

    background-color: #e2d6d6;
    border: 1px solid #b3b3b3;
    border-radius: 4px;

    font-size: 15px;
    color: #1b1e21;
}

.test-block_2 {
    z-index: 1;
    min-height: 50px;
    padding: 10px;
    margin: 0;

    background-color: #d6d8e2;
    border: 1px solid #B3B3B3;
    border-radius: 4px;

    font-size: 15px;
    color: #1b1e21;
}

.test-block_3 {
    z-index: 1;
    min-height: 50px;
    padding: 10px;
    margin: 0;

    background-color: #ded6e2;
    border: 1px solid #B3B3B3;
    border-radius: 4px;

    font-size: 15px;
    color: #1b1e21;
}

.test-block-in_1 {
    z-index: 2;
    height: 50px;
    background-color: #eaeaea;
    border: 1px solid #B3B3B3;
    border-radius: 4px;
    padding: 10px;
    margin: 0;
    font-size: 15px;
    color: #1b1e21;
}

.empty-10px {
    height: 10px !important;
    width: 10px !important;
}

.empty-15px {
    height: 15px !important;
    width: 20px !important;
}

.empty-20px {
    height: 15px !important;
    width: 20px !important;
}


/* +++++++ margin - rem  +++++++++ */
/*  <t b> <r l>  |  <t> <r> <b> <l>   */

/* ... .m_0 ... */

.m_0 {
    margin: 0 !important;
}

.mt_0,
.my_0 {
    margin-top: 0 !important;
}

.mr_0,
.mx_0 {
    margin-right: 0 !important;
}

.mb_0,
.my_0 {
    margin-bottom: 0 !important;
}

.ml_0,
.mx_0 {
    margin-left: 0 !important;
}

/* ... .m_1r ... */

.m_1r {
    margin: 1rem !important;
}

.mt_1r,
.my_1r {
    margin-top: 1rem !important;
}

.mr_1r,
.mx_1r {
    margin-right: 1rem !important;
}

.mb_1r,
.my_1r {
    margin-bottom: 1rem !important;
}

.ml_1r,
.mx_1r {
    margin-left: 1rem !important;
}

/* ... .m_1-5r ... */

.m_1-5r {
    margin: 1.5rem !important;
}

.mt_1-5r,
.my_1-5r {
    margin-top: 1.5rem !important;
}

.mr_1-5r,
.mx_1-5r {
    margin-right: 1.5rem !important;
}

.mb_1-5r,
.my_1-5r {
    margin-bottom: 1.5rem !important;
}

.ml_1-5r,
.mx_1-5r {
    margin-left: 1.5rem !important;
}

/* ... .m_2r ... */

.m_2r {
    margin: 2rem !important;
}

.mt_2r,
.my_2r {
    margin-top: 2rem !important;
}

.mr_2r,
.mx_2r {
    margin-right: 2rem !important;
}

.mb_2r,
.my_2r {
    margin-bottom: 2rem !important;
}

.ml_2r,
.mx_2r {
    margin-left: 2rem !important;
}

/* ... .m_2-5r ... */

.m_2-5r {
    margin: 2.5rem !important;
}

.mt_2-5r,
.my_2-5r {
    margin-top: 2.5rem !important;
}

.mr_2-5r,
.mx_2-5r {
    margin-right: 2.5rem !important;
}

.mb_2-5r,
.my_2-5r {
    margin-bottom: 2.5rem !important;
}

.ml_2-5r,
.mx_2-5r {
    margin-left: 2.5rem !important;
}

/* ... .m_3r ... */

.m_3r {
    margin: 3rem !important;
}

.mt_3r,
.my_3r {
    margin-top: 3rem !important;
}

.mr_3r,
.mx_3r {
    margin-right: 3rem !important;
}

.mb_3r,
.my_3r {
    margin-bottom: 3rem !important;
}

.ml_3r,
.mx_3r {
    margin-left: 3rem !important;
}

/* +++++++ padding - rem  +++++++++ */
/*  <t b> <r l>  |  <t> <r> <b> <l>   */

/* ... .p_0 ... */

.p_0 {
    padding: 0 !important;
}

.pt_0,
.py_0 {
    padding-top: 0 !important;
}

.pr_0,
.px_0 {
    padding-right: 0 !important;
}

.pb_0,
.py_0 {
    padding-bottom: 0 !important;
}

.pl_0,
.px_0 {
    padding-left: 0 !important;
}

/* ... .p_1r ... */

.p_1r {
    padding: 1rem !important;
}

.pt_1r,
.py_1r {
    padding-top: 1rem !important;
}

.pr_1r,
.px_1r {
    padding-right: 1rem !important;
}

.pb_1r,
.py_1r {
    padding-bottom: 1rem !important;
}

.pl_1r,
.px_1r {
    padding-left: 1rem !important;
}

/* ... .p_1-5r ... */

.p_1-5r {
    padding: 1.5rem !important;
}

.pt_1-5r,
.py_1-5r {
    padding-top: 1.5rem !important;
}

.pr_1-5r,
.px_1-5r {
    padding-right: 1.5rem !important;
}

.pb_1-5r,
.py_1-5r {
    padding-bottom: 1.5rem !important;
}

.pl_1-5r,
.px_1-5r {
    padding-left: 1.5rem !important;
}

/* ... .p_2r ... */

.p_2r {
    padding: 2rem !important;
}

.pt_2r,
.py_2r {
    padding-top: 2rem !important;
}

.pr_2r,
.px_2r {
    padding-right: 2rem !important;
}

.pb_2r,
.py_2r {
    padding-bottom: 2rem !important;
}

.pl_2r,
.px_2r {
    padding-left: 2rem !important;
}

/* ... .p_2-5r ... */

.p_2-5r {
    padding: 2.5rem !important;
}

.pt_2-5r,
.py_2-5r {
    padding-top: 2.5rem !important;
}

.pr_2-5r,
.px_2-5r {
    padding-right: 2.5rem !important;
}

.pb_2-5r,
.py_2-5r {
    padding-bottom: 2.5rem !important;
}

.pl_2-5r,
.px_2-5r {
    padding-left: 2.5rem !important;
}

/* ... .p_3r ... */

.p_3r {
    padding: 3rem !important;
}

.pt_3r,
.py_3r {
    padding-top: 3rem !important;
}

.pr_3r,
.px_3r {
    padding-right: 3rem !important;
}

.pb_3r,
.py_3r {
    padding-bottom: 3rem !important;
}

.pl_3r,
.px_3r {
    padding-left: 3rem !important;
}


/************************************/

/* +++++++ margin - px  +++++++++ */
/*  <t b> <r l>  |  <t> <r> <b> <l>   */

/* ... .m_0 ... */

.m_0 {
    margin: 0 !important;
}

.mt_0,
.my_0 {
    margin-top: 0 !important;
}

.mr_0,
.mx_0 {
    margin-right: 0 !important;
}

.mb_0,
.my_0 {
    margin-bottom: 0 !important;
}

.ml_0,
.mx_0 {
    margin-left: 0 !important;
}

/* ... .m_10px ... */

.m_10px {
    margin: 10px !important;
}

.mt_10px,
.my_10px {
    margin-top: 10px !important;
}

.mr_10px,
.mx_10px {
    margin-right: 10px !important;
}

.mb_10px,
.my_10px {
    margin-bottom: 10px !important;
}

.ml_10px,
.mx_10px {
    margin-left: 10px !important;
}

/* ... .m_15px ... */

.m_15px {
    margin: 15px !important;
}

.mt_15px,
.my_15px {
    margin-top: 15px !important;
}

.mr_15px,
.mx_15px {
    margin-right: 15px !important;
}

.mb_15px,
.my_15px {
    margin-bottom: 15px !important;
}

.ml_15px,
.mx_15px {
    margin-left: 15px !important;
}

/* ... .m_20px ... */

.m_20px {
    margin: 20px !important;
}

.mt_20px,
.my_20px {
    margin-top: 20px !important;
}

.mr_20px,
.mx_20px {
    margin-right: 20px !important;
}

.mb_20px,
.my_20px {
    margin-bottom: 20px !important;
}

.ml_20px,
.mx_20px {
    margin-left: 20px !important;
}

/* ... .m_25px ... */

.m_25px {
    margin: 25px !important;
}

.mt_25px,
.my_25px {
    margin-top: 25px !important;
}

.mr_25px,
.mx_25px {
    margin-right: 25px !important;
}

.mb_25px,
.my_25px {
    margin-bottom: 25px !important;
}

.ml_25px,
.mx_25px {
    margin-left: 25px !important;
}

/* ... .m_30px ... */

.m_30px {
    margin: 30px !important;
}

.mt_30px,
.my_30px {
    margin-top: 30px !important;
}

.mr_30px,
.mx_30px {
    margin-right: 30px !important;
}

.mb_30px,
.my_30px {
    margin-bottom: 30px !important;
}

.ml_30px,
.mx_30px {
    margin-left: 30px !important;
}

/* +++++++ padding - px  +++++++++ */
/*  <t b> <r l>  |  <t> <r> <b> <l>   */

/* ... .p_0 ... */

.p_0 {
    padding: 0 !important;
}

.pt_0,
.py_0 {
    padding-top: 0 !important;
}

.pr_0,
.px_0 {
    padding-right: 0 !important;
}

.pb_0,
.py_0 {
    padding-bottom: 0 !important;
}

.pl_0,
.px_0 {
    padding-left: 0 !important;
}

/* ... .p_10px ... */

.p_10px {
    padding: 10px !important;
}

.pt_10px,
.py_10px {
    padding-top: 10px !important;
}

.pr_10px,
.px_10px {
    padding-right: 10px !important;
}

.pb_10px,
.py_10px {
    padding-bottom: 10px !important;
}

.pl_10px,
.px_10px {
    padding-left: 10px !important;
}

/* ... .p_15px ... */

.p_15px {
    padding: 15px !important;
}

.pt_15px,
.py_15px {
    padding-top: 15px !important;
}

.pr_15px,
.px_15px {
    padding-right: 15px !important;
}

.pb_15px,
.py_15px {
    padding-bottom: 15px !important;
}

.pl_15px,
.px_15px {
    padding-left: 15px !important;
}

/* ... .p_20px ... */

.p_20px {
    padding: 20px !important;
}

.pt_20px,
.py_20px {
    padding-top: 20px !important;
}

.pr_20px,
.px_20px {
    padding-right: 20px !important;
}

.pb_20px,
.py_20px {
    padding-bottom: 20px !important;
}

.pl_20px,
.px_20px {
    padding-left: 20px !important;
}

/* ... .p_25px ... */

.p_25px {
    padding: 25px !important;
}

.pt_25px,
.py_25px {
    padding-top: 25px !important;
}

.pr_25px,
.px_25px {
    padding-right: 25px !important;
}

.pb_25px,
.py_25px {
    padding-bottom: 25px !important;
}

.pl_25px,
.px_25px {
    padding-left: 25px !important;
}

/* ... .p_30px ... */

.p_30px {
    padding: 30px !important;
}

.pt_30px,
.py_30px {
    padding-top: 30px !important;
}

.pr_30px,
.px_30px {
    padding-right: 30px !important;
}

.pb_30px,
.py_30px {
    padding-bottom: 30px !important;
}

.pl_30px,
.px_30px {
    padding-left: 30px !important;
}

/************************************/

/* +++++++ font - rem  +++++++++ */

.font_1r {
    font-size: 1rem !important;
}

.font_1-1r {
    font-size: 1.1rem !important;
}

.font_1-2r {
    font-size: 1.2rem !important;
}

.font_1-3r {
    font-size: 1.3rem !important;
}

.font_1-4r {
    font-size: 1.4rem !important;
}

.font_1-5r {
    font-size: 1.5rem !important;
}

.font_1-6r {
    font-size: 1.6rem !important;
}

.font_1-7r {
    font-size: 1.7rem !important;
}

.font_1-8r {
    font-size: 1.8rem !important;
}

.font_1-9r {
    font-size: 1.9rem !important;
}

.font_2r {
    font-size: 2rem !important;
}


/* +++++++ font - px  +++++++++ */

.font_10px {
    font-size: 1px !important;
}

.font_11px {
    font-size: 11px !important;
}

.font_12px {
    font-size: 12px !important;
}

.font_13px {
    font-size: 13px !important;
}

.font_14px {
    font-size: 14px !important;
}

.font_15px {
    font-size: 15px !important;
}

.font_16px {
    font-size: 16px !important;
}

.font_17px {
    font-size: 17px !important;
}

.font_18px {
    font-size: 18px !important;
}

.font_19px {
    font-size: 19px !important;
}

.font_20px {
    font-size: 20px !important;
}

/************************************/

/* +++++++ height - px  +++++++++ */


.h_50px {
    height: 50px !important;
}

.h_100px {
    height: 100px !important;
}

.h_150px {
    height: 150px !important;
}

.h_200px {
    height: 200px !important;
}

.h_250px {
    height: 250px !important;
}

.h_300px {
    height: 300px !important;
}

.h_400px {
    height: 400px !important;
}

.h_500px {
    height: 500px !important;
}

/* +++++++ width - px  +++++++++ */


.w_50px {
    width: 50px !important;
}

.w_100px {
    width: 100px !important;
}

.w_150px {
    width: 150px !important;
}

.w_200px {
    width: 200px !important;
}

.w_250px {
    width: 250px !important;
}

.w_300px {
    width: 300px !important;
}

.w_400px {
    width: 400px !important;
}

.w_500px {
    width: 500px !important;
}

/* +++++++ border - px  +++++++++ */

/* ... .border_0 ... */
.border_0 {
    border: 0 !important;
}


/* ... .border_1 ... */

.border_1 {
    border: 1px solid #808080 !important;
}

.border-t_1 {
    border: solid #808080;
    border-width: 1px 0 0 0 !important;
}

.border-r_1 {
    border: solid #808080;
    border-width: 0 1px 0 0 !important;
}

.border-b_1 {
    border: solid #808080;
    border-width: 0 0 1px 0 !important;
}

.border-l_1 {
    border: solid #808080;
    border-width: 0 0 0 1px !important;
}

/* ... .border_2 ... */

.border_2 {
    border: 2px solid #808080 !important;
}

.border-t_2 {
    border: solid #808080;
    border-width: 2px 0 0 0 !important;
}

.border-r_2 {
    border: solid #808080;
    border-width: 0 2px 0 0 !important;
}

.border-b_2 {
    border: solid #808080;
    border-width: 0 0 2px 0 !important;
}

.border-l_2 {
    border: solid #808080;
    border-width: 0 0 0 2px !important;
}