<!DOCTYPE html>
<html lang="en">
<head>
   <title>CSS-SETUP</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- ********** Для LIVE EDIT ***********-->
   <link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css"/>
   <link rel="stylesheet" href="../static/css/superstrap.css" type="text/css"/>

<!--   <script type="text/javascript" src="../static/js/jquery-3.5.1.js"></script>-->

</head>

<body class="container-fluid ">

<div class="test-top-menu_1 "></div>

<div class="test-bg_1 ">
   <div class="test-block_1">
      <div class="test-block-in_1"></div>
      <div class="test-block-in_1"></div>
   </div>
   <div class="empty-10px"></div>
   <div class="test-block_2"></div>
   <div class="empty-10px"></div>
   <div class="test-block_3"></div>
</div>


</body>
