<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание отчета</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- ********** Для SPRING ***********-->
    <!--    <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>-->
    <!--    <link rel="stylesheet" href="css/main.css" type="text/css"/>-->
    <!-- ********** Для LIVE EDIT ***********-->
    <link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css"/>

    <script type="text/javascript" src="js/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="js/newReport.js"></script>

</head>
<body>
<nav class="navbar topBar">
    <a class="back" href="">
        <svg xmlns="http://www.w3.org/2000/svg" width="1rem" viewBox="0 0 256 512">
            <path d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"/>
        </svg>
    </a>
    <a class="nav-link exo-12 save redTxt" href="">cохранить</a>
</nav>
<p class="exo-1r reportName">Отчет о выполненных <br> профилактических работах</p>
<div class="d-flex reportData">

    <div class="reportDetail">

        <label class="exo-1r detailInfo w_3r">235</label>
        <label class="exo-1r detailName w_3r">номер</label>

    </div>

    <div class="reportDetail ">

        <label class="exo-1r detailInfo w_6r">05.05.2020 &nbsp 22:55</label>
        <label class="exo-1r detailName w_6r">дата выполнения</label>

    </div>

</div>

</body>
</html>