<!DOCTYPE html>
<html lang="en">
<head>

    <title>Список отчетов</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- ********** Для SPRING ***********-->
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="css/main.css" type="text/css"/>
    <!-- ********** Для LIVE EDIT ***********-->
    <link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/superstrap.css" type="text/css"/>

    <script type="text/javascript" src="js/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="js/newReport.js"></script>
</head>
<body>
 <div class="reportName mx_1rem">

 </div>
</body>
</html>